/* 

write your code here

*/
@media print {
	.tm-sidebar,
	#about,
	.heading,
	.blocks,
	section.tm-content-box,
	#ideas
	{
		display:none;
	}
	body{
		background-color:white;
	}
	.container {
		display: flex;
		max-width: 740px;
		min-height: 100vh;
		justify-content: center;
	}
	
	h2.tm-section-title{
		color: #230fff;
	}
	.tm-content-box{
		margin-bottom: 0;
	}
	.tm-banner{
		padding: 0;
		width: 510px;
	}
	.flex-2-col{
		display: flex;
	}
	
	.flex-2-col img{
		margin-top: 70px;
		margin-left: 50px;
		width: 175px;
		height:175px;
	}
	
	.padding-medium {
		padding: 30px 0 0 30px;
	}
	
	.tm-section-description{
		width: 270px;
	}
	.tm-footer{
		display: flex;
		margin-left: 50px;
		padding-top: 30px;
	}
}
.flex-2-col{
	display: flex;
    align-items: center;
	
}
.flex-2-col p{
	text-indent:25px;
	overflow-wrap: break-word; 

}
 h2+p{
  font-style: italic;
}
#about li:nth-child(odd):hover{
	background-color: #87cefa;
	
}
#about h2:nth-child(odd):hover{
	color: white;
	font-weight: bold;
}
p::first-letter{
	font-size: 30px;
	color: #87CEFA;
}

.tm-main-nav{
	box-shadow: 0 7px 4px -4px  #b9b7b9;
}

#home,
section,
.blocks:not(.flex-2-col)
{
	box-shadow: 0 0 10px 2px #b9b7b9;
}


section{
	position: relative;
}


 .carousel-item h2{
	color: gainsboro;
	letter-spacing: 5px;
}
ol a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: black;
}
ol a:visited{
	list-style: none;
	display:inline-block;
	text-decoration-style: solid;
}
ol a:hover{
	text-decoration-color:  #83d2db;
	text-decoration-style: double;
	color:#83d2db;
}


.text::after{
	content:'New';
	position: absolute;
	color:red;
	font-size: 12px;
	top:-3px;
	right: -25px;
}
.tm-main-nav li:hover{
	background-color: grey;
}
.form-group-2-col-right{
	position:relative;
}
.form-group-2-col-right::after{
	content: ' *';
	position: absolute;
	color: red;
	top:2px;
	right:5px;
	font-size: 15px;
}
.blocks li:nth-child(even){
	background-color:#f2f2f2 ;
}
.box-work{
	padding:10px;
}
.box-work p::first-letter{
	color: black;
}

button{
	float: right;
}

.btn-primary{
	background-color: #fff;
	color: #98ddfd;
	border-color: #98ddfd;
	border-radius: 0;
}
.btn-primary:hover{
	background-color: #9fd8fb;
	border-color: #89cffa;
}
@media screen {
	.tm-banner{
		padding: 0;
		border:30px solid #f5f5f5 ;
	}

section::before{
	content: '';
	width: 0;
height: 0;
border-style: solid;
border-width: 45px 270px 0 0;
border-color: #87cefa transparent transparent transparent;
position: absolute;
}


}